# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfplan
*.tfvars.local
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Environment variables
.env
.env.local

# AWS credentials
*.pem
credentials
aws_access_key_id
aws_secret_access_key