# Dependencies
node_modules
.yarn
.pnp.*

# Build outputs
dist
build
*.log

# Development files
.env
.env.local
.env.*.local

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Tests
coverage
.nyc_output

# Misc
*.md
.eslintcache
.turbo