include partials/head.pug

body(style="margin: 0; padding: 0; background-color: #f9f9f9; font-family: 'Rubik', Arial, sans-serif;" dir="rtl")
  table(width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: #f9f9f9;")
    tr
      td(align="center")
        //- Container
        table.container(width="640" cellpadding="0" cellspacing="0" style="max-width: 640px; margin: 0 auto;")
          
          include partials/header.pug
          
          include partials/main-content.pug
          
          include partials/order-summary.pug
          
          include partials/installation-help.pug
          
          include partials/tips.pug
          
          include partials/support.pug
          
          include partials/footer.pug
